openapi: 3.0.0
info:
  title: CDISC Library API
  description: REST API documentation for CDISC Library in production server
  version: 1.1.0
  contact:
    name: CDISC Library Support
    email: cdisc_library_support@cdisc.org
  license:
    name: License for CDISC Members & Open Source Developers
    url: https://www.cdisc.org/cdisc-library/api-account-request
servers:
- url: https://library.cdisc.org/api
  description: Production server
- url: https://virtserver.swaggerhub.com/CDISC1/share-2.0/1.1.0
  description: SwaggerHub API Auto Mocking
security:
- basicAuth: []
paths:
  /health:
    get:
      description: Check health of system components
      tags:
      - Statuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /mdr/maintenance:
    get:
      description: Set maintenance mode and message
      tags:
      - Statuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceBody'
  /mdr/search:
    get:
      description: Get Search Results Across CDISC Library
      tags:
      - Searches
      externalDocs:
        description: Release Notes about Searches
        url: https://wiki.cdisc.org/display/LIBSUPRT/Search
      parameters:
      - $ref: '#/components/parameters/searchQueryExpression'
      - $ref: '#/components/parameters/searchHighlightExpression'
      - $ref: '#/components/parameters/searchPagingStart'
      - $ref: '#/components/parameters/searchPagingSize'
      - $ref: '#/components/parameters/setScope1'
      - $ref: '#/components/parameters/setScope2'
      - $ref: '#/components/parameters/setScope3'
      - $ref: '#/components/parameters/setScope4'
      - $ref: '#/components/parameters/setScope5'
      - $ref: '#/components/parameters/setScope6'
      - $ref: '#/components/parameters/setScope7'
      - $ref: '#/components/parameters/setScope8'
      - $ref: '#/components/parameters/setScope9'
      - $ref: '#/components/parameters/setScope10'
      - $ref: '#/components/parameters/setScope11'
      - $ref: '#/components/parameters/setScope12'
      - $ref: '#/components/parameters/setScope13'
      - $ref: '#/components/parameters/setScope14'
      - $ref: '#/components/parameters/setScope15'
      - $ref: '#/components/parameters/setScope16'
      - $ref: '#/components/parameters/setScope17'
      - $ref: '#/components/parameters/setScope18'
      - $ref: '#/components/parameters/setScope19'
      - $ref: '#/components/parameters/setScope20'
      - $ref: '#/components/parameters/setScope21'
      - $ref: '#/components/parameters/setScope22'
      - $ref: '#/components/parameters/setScope23'
      - $ref: '#/components/parameters/setScope24'
      - $ref: '#/components/parameters/setScope25'
      - $ref: '#/components/parameters/setScope26'
      - $ref: '#/components/parameters/setScope27'
      - $ref: '#/components/parameters/setScope28'
      - $ref: '#/components/parameters/setScope29'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/search/scopes:
    get:
      description: Get Search Results Across CDISC Library
      tags:
      - Searches
      externalDocs:
        description: Release Notes about Searches
        url: https://wiki.cdisc.org/display/LIBSUPRT/Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  scopes:
                    type: array
                    items:
                      $ref: '#/components/schemas/DefaultSearchScopes'
  /mdr/search/scopes/{scope}:
    get:
      description: Get Search Results Limited to Scope
      tags:
      - Searches
      externalDocs:
        description: Release Notes about Searches
        url: https://wiki.cdisc.org/display/LIBSUPRT/Search
      parameters:
      - $ref: '#/components/parameters/getScopes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeValues'
  /mdr/products:
    get:
      description: Get CDISC Library Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlProducts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/about:
    get:
      description: Get Information About CDISC Library
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/About'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAbout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/lastupdated:
    get:
      description: Get CDISC Library Last Updated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lastupdated'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlLastupdated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/products/DataTabulation:
    get:
      description: Get CDISC Library Product Group Data Tabulation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductgroupDataTabulation'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlProductgroupDataTabulation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/products/DataCollection:
    get:
      description: Get CDISC Library Product Group Data Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductgroupDataCollection'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlProductgroupDataCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/products/DataAnalysis:
    get:
      description: Get CDISC Library Product Group Data Analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductgroupDataAnalysis'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlProductgroupDataAnalysis'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/products/Terminology:
    get:
      description: Get CDISC Library Product Group Terminology
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductgroupTerminology'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlProductgroupTerminology'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/products/Measures:
    get:
      description: Get CDISC Library Product Group QRS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductgroupQrs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/ct/packages:
    get:
      description: Get CDISC Library CT Package List
      tags:
      - Controlled Terminology (CT)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtPackages'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCtPackages'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/ct/packages/{product}:
    get:
      description: Get CDISC Library CT Package
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: product
        required: true
        description: CT Package Product Identifier
        schema:
          type: string
          example: sdtmct-2019-12-20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtPackage'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCtPackage'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportCtTable'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/ExportCtTable'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ExportCtTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/ct/packages/{package}/codelists:
    get:
      description: Get CDISC Library CT Package Codelist List
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: package
        required: true
        description: CT Package Identifier
        schema:
          type: string
          example: sdtmct-2019-12-20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtPackageCodelists'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCtPackageCodelists'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/ct/packages/{package}/codelists/{codelist}:
    get:
      description: Get CDISC Library CT Package Codelist
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: package
        required: true
        description: CT Package Identifier
        schema:
          type: string
          example: sdtmct-2019-12-20
      - in: path
        name: codelist
        required: true
        description: CT Codelist Identifier
        schema:
          type: string
          example: C67154
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtCodelist'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCtCodelist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/ct/packages/{package}/codelists/{codelist}/terms:
    get:
      description: Get CDISC Library CT Package Codelist Term List
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: package
        required: true
        description: CT Package Identifier
        schema:
          type: string
          example: sdtmct-2019-12-20
      - in: path
        name: codelist
        required: true
        description: CT Codelist Identifier
        schema:
          type: string
          example: C67154
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtCodelistTerms'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCtCodelistTerms'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/ct/packages/{package}/codelists/{codelist}/terms/{term}:
    get:
      description: Get CDISC Library CT Package Codelist Term
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: package
        required: true
        description: CT Package Product Identifier
        schema:
          type: string
          example: sdtmct-2019-12-20
      - in: path
        name: codelist
        required: true
        description: CT Codelist Identifier
        schema:
          type: string
          example: C67154
      - in: path
        name: term
        required: true
        description: CT Codelist Term Identifier
        schema:
          type: string
          example: C64796
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtTerm'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCtTerm'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/ct/{productGroup}/codelists/{codelist}:
    get:
      description: Get CDISC Library Root CT Codelist
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: productGroup
        required: true
        description: CT Product Group Identifier
        schema:
          type: string
          example: sdtmct
      - in: path
        name: codelist
        required: true
        description: CT Codelist Identifier
        schema:
          type: string
          example: C67154
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootCtCodelist'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootCtCodelist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/ct/{productGroup}/codelists/{codelist}/terms/{term}:
    get:
      description: Get CDISC Library Root CT Term
      tags:
      - Controlled Terminology (CT)
      parameters:
      - in: path
        name: productGroup
        required: true
        description: CT Product Group Identifier
        schema:
          type: string
          example: sdtmct
      - in: path
        name: codelist
        required: true
        description: CT Codelist Identifier
        schema:
          type: string
          example: C67154
      - in: path
        name: term
        required: true
        description: CT Codelist Term Identifier
        schema:
          type: string
          example: C64796
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootCtTerm'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootCtTerm'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}:
    get:
      description: Get CDASH Product
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashProduct'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashProduct'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportCdashTable'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/ExportCdashTable'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ExportCdashTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/classes:
    get:
      description: Get CDASH Class List
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashProductClasses'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashProductClasses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/classes/{class}:
    get:
      description: Get CDASH Class
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      - in: path
        name: class
        required: true
        description: CDASH Class Identifier
        schema:
          type: string
          example: Timing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashClass'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashClass'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/classes/{class}/domains:
    get:
      description: Get CDASH Class Domain List
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      - in: path
        name: class
        required: true
        description: CDASH Class Identifier
        schema:
          type: string
          example: SpecialPurpose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashClassDomains'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashClassDomains'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/classes/{class}/fields/{field}:
    get:
      description: Get CDASH Class Field
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      - in: path
        name: class
        required: true
        description: CDASH Class Identifier
        schema:
          type: string
          example: Timing
      - in: path
        name: field
        description: CDASH Field Identifier
        required: true
        schema:
          type: string
          example: --DAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashClassField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashClassField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/domains:
    get:
      description: Get CDASH Domain List
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashProductDomains'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashProductDomains'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/domains/{domain}:
    get:
      description: Get CDASH Domain
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      - in: path
        name: domain
        required: true
        description: CDASH Domain Identifier
        schema:
          type: string
          example: DM
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashDomain'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/domains/{domain}/fields:
    get:
      description: Get CDASH Domain Field List
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      - in: path
        name: domain
        required: true
        description: CDASH Domain Identifier
        schema:
          type: string
          example: DM
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashDomainFields'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashDomainFields'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdash/{version}/domains/{domain}/fields/{field}:
    get:
      description: Get CDASH Domain Field
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-1
      - in: path
        name: domain
        required: true
        description: CDASH Domain Identifier
        schema:
          type: string
          example: DM
      - in: path
        name: field
        required: true
        description: CDASH Field Identifier
        schema:
          type: string
          example: AGE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashDomainField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashDomainField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/cdash/classes/{class}/fields/{field}:
    get:
      description: Get Root CDASH Class Field
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: class
        required: true
        description: CDASH Class Identifier
        schema:
          type: string
          example: Timing
      - in: path
        name: field
        required: true
        description: CDASH Field Identifier
        schema:
          type: string
          example: --DAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootCdashClassField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootCdashClassField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/cdash/domains/{domain}/fields/{field}:
    get:
      description: Get Root CDASH Domain Field
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
      parameters:
      - in: path
        name: domain
        required: true
        description: CDASH Domain Identifier
        schema:
          type: string
          example: DM
      - in: path
        name: field
        required: true
        description: CDASH Field Identifier
        schema:
          type: string
          example: AGE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootCdashDomainField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootCdashDomainField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}:
    get:
      description: Get CDASHIG Product
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        description: CDISC Library Product Version
        required: true
        schema:
          type: string
          example: 2-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigProduct'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigProduct'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportCdashigTable'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/ExportCdashigTable'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ExportCdashigTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/classes:
    get:
      description: Get CDASHIG Class List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigProductClasses'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigProductClasses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/classes/{class}:
    get:
      description: Get CDASHIG Class
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: class
        required: true
        description: CDASHIG Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigClass'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigClass'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/classes/{class}/domains:
    get:
      description: Get CDASHIG Class Domain List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: class
        required: true
        description: CDASHIG Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigClassDomains'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigClassDomains'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/domains:
    get:
      description: Get CDASHIG Domain List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigProductDomains'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigProductDomains'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/domains/{domain}:
    get:
      description: Get CDASHIG Domain
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: domain
        required: true
        description: CDASHIG Domain Identifier
        schema:
          type: string
          example: VS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigDomain'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/domains/{domain}/fields:
    get:
      description: Get CDASHIG Domain Field List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: domain
        required: true
        description: CDASHIG Domain Identifier
        schema:
          type: string
          example: VS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigDomainFields'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigDomainFields'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/domains/{domain}/fields/{field}:
    get:
      description: Get CDASHIG Domain Field
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: domain
        required: true
        description: CDASHIG Domain Identifier
        schema:
          type: string
          example: VS
      - in: path
        name: field
        required: true
        description: CDASHIG Field Identifier
        schema:
          type: string
          example: VSDAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigDomainField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigDomainField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/classes/{class}/scenarios:
    get:
      description: Get CDASHIG Class Scenario List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: class
        required: true
        description: CDASHIG Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigClassScenarios'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigClassScenarios'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/scenarios:
    get:
      description: Get CDASHIG Scenario List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigProductScenarios'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigProductScenarios'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/scenarios/{domain}.{scenario}:
    get:
      description: Get CDASHIG Scenario
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: domain
        required: true
        description: CDASHIG Domain Identifier
        schema:
          type: string
          example: VS
      - in: path
        name: scenario
        required: true
        description: CDASHIG Scenario Identifier
        schema:
          type: string
          example: HorizontalGeneric
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigScenario'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigScenario'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/scenarios/{domain}.{scenario}/fields:
    get:
      description: Get CDASHIG Scenario Field List
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: domain
        description: CDASHIG Domain Identifier
        required: true
        schema:
          type: string
          example: VS
      - in: path
        name: scenario
        required: true
        description: CDASHIG Scenario Identifier
        schema:
          type: string
          example: HorizontalGeneric
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigScenarioFields'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigScenarioFields'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/cdashig/{version}/scenarios/{domain}.{scenario}/fields/{field}:
    get:
      description: Get CDASHIG Scenario Field
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 2-1
      - in: path
        name: domain
        description: CDASHIG Domain Identifier
        required: true
        schema:
          type: string
          example: VS
      - in: path
        name: scenario
        required: true
        description: CDASHIG Scenario Identifier
        schema:
          type: string
          example: Generic
      - in: path
        name: field
        required: true
        description: CDASHIG Field Identifier
        schema:
          type: string
          example: VSDAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdashigScenarioField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlCdashigScenarioField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/cdashig/domains/{domain}/fields/{field}:
    get:
      description: Get Root CDASHIG Domain Field
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: domain
        required: true
        description: CDASHIG Domain Identifier
        schema:
          type: string
          example: VS
      - in: path
        name: field
        required: true
        description: CDASHIG Field Identifier
        schema:
          type: string
          example: VSDAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootCdashigDomainField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootCdashigDomainField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/cdashig/scenarios/{domain}.{scenario}/fields/{field}:
    get:
      description: Get Root CDASHIG Scenario Field
      tags:
      - CDASH Implementation Guide (CDASHIG)
      parameters:
      - in: path
        name: domain
        required: true
        description: CDASHIG Domain Identifier
        schema:
          type: string
          example: VS
      - in: path
        name: scenario
        required: true
        description: CDASHIG Scenario Identifier
        schema:
          type: string
          example: Generic
      - in: path
        name: field
        required: true
        description: CDASHIG Field Identifier
        schema:
          type: string
          example: VSDAT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootCdashigScenarioField'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootCdashigScenarioField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}:
    get:
      description: Get SDTM product
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmProduct'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmProduct'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportSdtmVariablesTable'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/ExportSdtmWorkbook'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ExportSdtmWorkbook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/classes:
    get:
      description: Get SDTM Class List
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmClasses'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmClasses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/classes/{class}:
    get:
      description: Get SDTM Class
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        description: CDISC Library Product Version
        required: true
        schema:
          type: string
          example: 1-8
      - in: path
        name: class
        required: true
        description: SDTM Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmClass'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmClass'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/classes/{class}/variables:
    get:
      description: Get SDTM Class Variable List
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      - in: path
        name: class
        required: true
        description: SDTM Class Identifier
        schema:
          type: string
          example: GeneralObservations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmClassVariables'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmClassVariables'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/classes/{class}/variables/{var}:
    get:
      description: Get SDTM Class Variable
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      - in: path
        name: class
        required: true
        description: SDTM Class Identifier
        schema:
          type: string
          example: GeneralObservations
      - in: path
        name: var
        required: true
        description: SDTM Variable Identifier
        schema:
          type: string
          example: --DTC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmClassVariable'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmClassVariable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/classes/{class}/datasets:
    get:
      description: Get SDTM Class Dataset List
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      - in: path
        name: class
        required: true
        description: SDTM Class Identifier
        schema:
          type: string
          example: SpecialPurpose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmClassDatasets'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmClassDatasets'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/datasets:
    get:
      description: Get SDTM Dataset List
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmDatasets'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmDatasets'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportSdtmDatasetsTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/datasets/{dataset}:
    get:
      description: Get SDTM Dataset
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      - in: path
        name: dataset
        required: true
        description: SDTM Dataset Identifier
        schema:
          type: string
          example: DM
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmDataset'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmDataset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/datasets/{dataset}/variables:
    get:
      description: Get SDTM Dataset Variable List
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      - in: path
        name: dataset
        required: true
        description: SDTM Dataset Identifier
        schema:
          type: string
          example: DM
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmDatasetVariables'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmDatasetVariables'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtm/{version}/datasets/{dataset}/variables/{var}:
    get:
      description: Get SDTM Dataset Variable
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 1-8
      - in: path
        name: dataset
        required: true
        description: SDTM Dataset Identifier
        schema:
          type: string
          example: DM
      - in: path
        name: var
        required: true
        description: SDTM Variable Identifier
        schema:
          type: string
          example: SUBJID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmDatasetVariable'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmDatasetVariable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/sdtm/classes/{class}/variables/{var}:
    get:
      description: Get Root of SDTM Class Variable
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: class
        required: true
        description: SDTM Class Identifier
        schema:
          type: string
          example: GeneralObservations
      - in: path
        name: var
        required: true
        description: SDTM Variable Identifier
        schema:
          type: string
          example: --DTC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootSdtmClassVariable'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootSdtmClassVariable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/sdtm/datasets/{dataset}/variables/{var}:
    get:
      description: Get Root SDTM Dataset Variable
      tags:
      - Study Data Tabulation Model (SDTM)
      parameters:
      - in: path
        name: dataset
        required: true
        description: SDTM Dataset Identifier
        schema:
          type: string
          example: DM
      - in: path
        name: var
        required: true
        description: SDTM Variable Identifier
        schema:
          type: string
          example: SUBJID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootSdtmDatasetVariable'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootSdtmDatasetVariable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}:
    get:
      description: Get SDTMIG product
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigProduct'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigProduct'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportSdtmigVariablesTable'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/ExportSdtmigWorkbook'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ExportSdtmigWorkbook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/classes:
    get:
      description: Get SDTMIG Class List
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        description: CDISC Library Product Version
        required: true
        schema:
          type: string
          example: 3-3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigClasses'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigClasses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/classes/{class}:
    get:
      description: Get SDTMIG Class
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-3
      - in: path
        name: class
        required: true
        description: SDTMIG Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigClass'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigClass'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/classes/{class}/datasets:
    get:
      description: Get SDTMIG Class Dataset List
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        description: CDISC Library Product Version
        required: true
        schema:
          type: string
          example: 3-3
      - in: path
        name: class
        description: SDTMIG Class Identifier
        required: true
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigClassDatasets'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigClassDatasets'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/datasets:
    get:
      description: Get SDTMIG Dataset List
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigDatasets'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigDatasets'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportSdtmigDatasetsTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/datasets/{dataset}:
    get:
      description: Get SDTMIG Dataset
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-3
      - in: path
        name: dataset
        required: true
        description: SDTMIG Dataset Identifier
        schema:
          type: string
          example: LB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigDataset'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigDataset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/datasets/{dataset}/variables:
    get:
      description: Get SDTMIG Dataset Variable List
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-3
      - in: path
        name: dataset
        required: true
        description: SDTMIG Dataset Identifier
        schema:
          type: string
          example: LB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigDatasetVariables'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigDatasetVariables'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sdtmig/{version}/datasets/{dataset}/variables/{var}:
    get:
      description: Get SDTMIG Dataset Variable
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-3
      - in: path
        name: dataset
        required: true
        description: SDTMIG Dataset Identifier
        schema:
          type: string
          example: LB
      - in: path
        name: var
        required: true
        description: SDTMIG Variable Identifier
        schema:
          type: string
          example: LBDTC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdtmigDatasetVariable'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSdtmigDatasetVariable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/root/sdtmig/datasets/{dataset}/variables/{var}:
    get:
      description: Get Root SDTMIG Dataset Variable
      tags:
      - SDTM Implementation Guide (SDTMIG)
      parameters:
      - in: path
        name: dataset
        required: true
        description: SDTMIG Dataset Identifier
        schema:
          type: string
          example: DM
      - in: path
        name: var
        required: true
        description: SDTMIG Variable Identifier
        schema:
          type: string
          example: SUBJID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootSdtmigDatasetVariable'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlRootSdtmigDatasetVariable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sendig/{version}:
    get:
      description: Get SENDIG product
      tags:
      - SEND Implementation Guide (SENDIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendigProduct'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSendigProduct'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExportSendigVariablesTable'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/ExportSendigWorkbook'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/ExportSendigWorkbook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sendig/{version}/classes:
    get:
      description: Get SENDIG Class List
      tags:
      - SEND Implementation Guide (SENDIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendigClasses'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSendigClasses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sendig/{version}/classes/{class}:
    get:
      description: Get SENDIG Class
      tags:
      - SEND Implementation Guide (SENDIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-1
      - in: path
        name: class
        required: true
        description: SENDIG Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendigClass'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSendigClass'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /mdr/sendig/{version}/classes/{class}/datasets:
    get:
      description: Get SENDIG Class Dataset List
      tags:
      - SEND Implementation Guide (SENDIG)
      parameters:
      - in: path
        name: version
        required: true
        description: CDISC Library Product Version
        schema:
          type: string
          example: 3-1
      - in: path
        name: class
        required: true
        description: SENDIG Class Identifier
        schema:
          type: string
          example: Findings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendigClassDatasets'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlSendigClassDatasets'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '406':
[...]
